<!DOCTYPE HTML> <!-- html5 dtd --->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Placedog.com</title>

<meta name="keywords" content=" placedog.com" />

<meta name="description" content="" />

<script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
<script language='JavaScript' src='/js/standard.js?rte=1&tm=2&dn=placedog.com&tid=104101'></script>

<meta name='google' value='notranslate' />
<script type='text/javascript' language='JavaScript' src='/js/google_caf.js?rte=1&tm=2&dn=placedog.com&tid=104101'></script>
<script type='text/javascript' language='JavaScript' src='http://www.google.com/adsense/domains/caf.js'></script>

<script type='text/javascript'>
var pageOptions =
{
    'domainRegistrant' : 'as-drid-2804515787326291',
    'relatedSearchBaseUrl': 'http://placedog.com/?ac=2&slt=8&slr=1&lpt=2',
    'resultsPageBaseUrl': 'http://placedog.com/?ac=2&slt=8&slr=1&lpt=2',
    'pageLoadedCallback': google_callback,
    'pubId': 'dp-demandmedia31_3ph',
    'channel': '100001',
    'terms': '',
    'optimizeTerms': true,
    'adtest': 'off',
    'hl': 'en'
};

var adblock =
{
    'type': 'ads',
    'width': '550px',
    'colorAttribution': '#aaa',
    'fontFamilyAttribution': 'arial',
    'fontSizeAttribution': 14,
    'colorTitleLink': '#144e8d',
    'rolloverLinkUnderline': true,
    'colorText': '#000',
    'colorDomainLink': '#E49212',
    'fontSizeTitle': 26,
    'fontSizeDescription': 16,
    'fontSizeDomainLink': 16,
    'verticalSpacing': 6,
    'container': 'ads',
    'clicktrackUrl': 'http://placedog.com/clickLog?ck=35554d59-0823-4cfe-ab8d-bbd3d6ef1627&d=placedog.com&aid=2400001&r=0&rc=10&rlt=21&du=&rid=1ae0a3ee-1f13-44f0-9c84-9a1bfab2dac4'
};


var parkingData = 
{
    'pageType': '2',
    'googleStatus': 'Clean',
    'cacheKey': '35554d59-0823-4cfe-ab8d-bbd3d6ef1627',
    'clientIPHash': '-1119296304',
    'userAgentHash': '-1823646525',
    'time': '6/28/2014 12:03:10 AM',
    'ticks': '635395105908090271',
    'domainName': 'placedog.com',
    'searchText': '200',
    'actionCode': '130',
    'adNetworkID': '2400001',
    'moduleID': '29',
    'resultLinkType': '5',
    'webLinkType': 'GoogleWeb',
    'vipIP': '64.74.223.42',
    'sessionID': '69ea722b-e461-4904-8ab1-e5ed69b9468c',
    'visitorID': '6355c34e-9a8c-4972-93c0-d518f3f0059e',
    'ippiClassification': '0',
    'requestGuid': '1ae0a3ee-1f13-44f0-9c84-9a1bfab2dac4',
    'searchLinkType': 'Unknown',
    'templateID': '104101',
    'themeID': '220308',
    'pageUrl': '/130/200',
    'searchLinkRank': '0',
    'referrer': '',
    'referrerSearchText': '',
    'subID': '0',
    'searchLinkAreas': 
    [ 
    ],
    'apiIteration': 0,
    'mobileBrowserType': 4,
    'adLineFormat': 3,
    'wClass': 'wr',
    'adHeader': 'Sponsored Listings'
};

new google.ads.domains.Caf(pageOptions, adblock);
</script>


<link href="/css/style.css?rte=1&tm=2&dn=placedog.com&tid=104101&def=Akamai%3aHostingURL%3dhttp%3a%2f%2fi.nuseek.com" rel="stylesheet" type="text/css" />
</head>

<body id="results" class="results">

<form id="parking_form" method="get" action="/default.php">

<!--
=================================================
** START DEBUG OUTPUT                          **
=================================================
             Version: 3.7.169.17
     Logging_Version: 3.6
           Webserver: 5802B
           Client_IP: 180.252.67.16
              VIP_IP: 64.74.223.42
           HTTP_Host: placedog.com
         Domain_Name: placedog.com
  Total_Process_Time: 32ms
       MemCache_Time: 5ms (16%)
       Database_Time: 23ms (71%)
            API_Time: 2ms (7%)
=================================================
** END DEBUG OUTPUT                            **
=================================================
-->



    <div id="ads"  class="resultLinks"></div>   

<div class="uc-2"><br /><span style="color: blue; font-size: 16px; font-weight: 800;">This domain may be for sale. <a target="_blank" href="http://www.namejet.com/Pages/Auctions/BackorderDetails.aspx?domainname=placedog.com">Backorder this Domain</a></span></div>	

<div class='legal'><a href='http://whoisprivacyprotect.com/terms/privacy.html' target='_blank'>Privacy Policy</a></div>




<script language='javascript' type='Text/Javascript'>
function GetIPPI(g) {
    var xmlHttp = createXMLHttpRequest();
    if (xmlHttp != null) {
        xmlHttp.open('GET', '/'+g+'.ippi?g='+g, true);
        xmlHttp.send(null);
    }
}

function createXMLHttpRequest() {
  try { return new ActiveXObject('Msxml2.XMLHTTP'); } catch(e) {}
  try { return new ActiveXObject('Microsoft.XMLHTTP'); } catch(e) {}
  try { return new XMLHttpRequest(); } catch(e) {}
  return null;
}

GetIPPI('1ae0a3ee-1f13-44f0-9c84-9a1bfab2dac4');
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2249740-16");
pageTracker._initData();
pageTracker._trackPageview();
</script>



</form>   
</body>
</html>
